name: Automated Testing (gfortran, containerized)

on:
  push:
    branches:
      - main
  pull_request:
    branches: '*'

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/dafyddstephenson/roms_gfortran_build_env:1.0
    strategy:
      fail-fast: false
      matrix:
        include:
          - example: "Rivers_real"
          - example: "Rivers_ana"
          - example: "Pipes_real"
          - example: "Pipes_ana"
          - example: "Flux_frc"
          - example: "Filament"
          - example: "CDR_3d"
          - example: "CDR_dp"
          - example: "CDR_parameterized"
          - example: "bgc_real"
            bgc_mode: "BEC"
          - example: "bgc_real"
            bgc_mode: "MARBL"
    name: Test ${{ matrix.example }}${{ matrix.bgc_mode && format(' ({0})', matrix.bgc_mode) || '' }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Set Environment Variables
      run: |
        ROMS_ROOT=$(pwd)
        echo "ROMS_ROOT=$ROMS_ROOT" >> $GITHUB_ENV
        echo "PATH=./:$PATH:$ROMS_ROOT/Tools-Roms" >> $GITHUB_ENV
      shell: bash
    - name: Print system info
      run: lscpu
    - name: Compile Fortran Code
      shell: bash
      run: |
        micromamba run -n roms-ci bash -c '
        #Copy GNU-compatible makefiles
        cd Work/
        cd ${ROMS_ROOT}/Tools-Roms/
        make partit COMPILER=gnu
        '
    - name: Cache input_data
      id: cache-input
      uses: actions/cache@v4
      with:
        path: tests/input_data
        key: roms-input-${{ hashFiles('tests/input_data/get_input_files.sh') }}

    - name: Get input data (if not cached)
      if: steps.cache-input.outputs.cache-hit != 'true'
      shell: bash
      run: |
        cd ${ROMS_ROOT}/tests/input_data/
        ./get_input_files.sh
    - name: Update COMPILER arg in make commands
      shell: bash
      run: |
        sed -i -e "s/make /make COMPILER=gnu USER_FFLAGS=-Werror /g" $ROMS_ROOT/tests/scripts/do_test_roms.sh
        sed -i -e "s/make /make COMPILER=gnu USER_FFLAGS=-Werror /g" $ROMS_ROOT/tests/bgc_real/do_test_roms.sh
    - name: Run Test for ${{ matrix.example }}
      shell: bash
      run: |
        micromamba run -n roms-ci bash -c '
        cd ${ROMS_ROOT}/tests/${{ matrix.example}}/
        if [[ "${{ matrix.example }}" == "bgc_real" ]];then
        ./do_test_roms.sh github_gnu ${{ matrix.bgc_mode }}
        else
        ./do_test_roms.sh github_gnu
        fi
        '
